<div class="is-preload">

  <!-- Wrapper -->
  <div id="wrapper">
    <!-- Menu -->
    <nav id="menu">
      <ul class="links">
        <li><a href="/">Home</a></li>
        <li><a href="landing.html">Landing</a></li>
        <li><a href="generic.html">Generic</a></li>
        <li><a href="elements.html">Elements</a></li>
      </ul>
      <ul class="actions stacked">
        <li><a href="#" class="button primary fit">Get Started</a></li>
        <li><a href="#" class="button fit">Log In</a></li>
        <li><a href="#" class="button fit">Log Out</a></li>
      </ul>
    </nav>

    <!-- Main -->
    <div id="main" class="alt">
      <section class="inner">
        <div class="">
          <div class="">
            <!-- Table -->
            <h3>Table</h3>
            <div class=" col-6 table-wrapper">
              <table class="col-6 col-12-medium">
                <thead>
                  <tr>
                    <th>Business</th>
                    <th>Coupon</th>
                    <th>Select</th>
                  </tr>
                </thead>
                <tbody>
                  <% for(var i=0; i <incentives.length; i++) {%>
                  <tr>
                    <td><%= incentives[i].business %></td>
                    <td><%= incentives[i].coupon %></td>
                    <td><button class="incentivesButton" type="button" name="button">Select</button></td>
                  </tr>
                </tbody>
                <% } %>
                <!-- <tfoot>
                  <tr>
                    <td colspan="2"></td>
                    <td>100.00</td>
                  </tr>
                </tfoot> -->
              </table>

              <div class="progress">
                <div class="progress-bar progress-bar-striped" role="progressbar" style="width: 10%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
              <div class="progress">
                <div class="progress-bar progress-bar-striped bg-success" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
              <div class="progress">
                <div class="progress-bar progress-bar-striped bg-info" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
              <div class="progress">
                <div class="progress-bar progress-bar-striped bg-warning" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
              <div class="progress">
                <div class="progress-bar progress-bar-striped bg-danger" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>

  </div>
</div>
